<lib-page-layout title="SHOP FOLDER">
    <ng-container pagebody>

        <!-- Contact -->
        <lib-dashboard-box title="CONTACT" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-contact-logo logo colorTheme="dashboard-title"></lib-contact-logo>
            <ng-container action>
                <app-action [disabled]="true" text="New" route="" icon="add"></app-action>
                <app-action [disabled]="true" text="Group" route="">
                    <lib-group-logo colorTheme="dashboard"></lib-group-logo>
                </app-action>
                <app-action [disabled]="true" text="Vendor" route="">
                    <lib-vendor-logo colorTheme="dashboard"></lib-vendor-logo>
                </app-action>
                <app-action [disabled]="true" text="Sync" route="" icon="sync"></app-action>
                <app-action text="All" route="/contact" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Calendar -->
        <lib-dashboard-box title="CALENDAR" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-calendar-logo logo colorTheme="dashboard-title"></lib-calendar-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Alarm" icon="alarm_add"></app-action>
                <app-action [disabled]="true" text="In" route="">
                    <lib-sign-in-logo colorTheme="dashboard"></lib-sign-in-logo>
                </app-action>
                <app-action [disabled]="true" text="Out" route="">
                    <lib-sign-out-logo colorTheme="dashboard"></lib-sign-out-logo>
                </app-action>
                <app-action [disabled]="true" text="Weekly" icon="view_week"></app-action>
                <app-action [disabled]="true" text="All" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Raw Materials -->
        <lib-dashboard-box title="RAW" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-raw-material-logo logo colorTheme="dashboard-title"></lib-raw-material-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Material" route="" icon="add"></app-action>
                <app-action [disabled]="true" text="Store" route="" icon="store"></app-action>
                <app-action [disabled]="true" text="Waste" route="">
                    <lib-waste-logo colorTheme="dashboard"></lib-waste-logo>
                </app-action>
                <app-action [disabled]="true" text="All" route="" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Inventory -->
        <lib-dashboard-box title="INVENTORY" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-inventory-logo logo colorTheme="dashboard-title"></lib-inventory-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Product" route="" icon="add"></app-action>
                <app-action [disabled]="true" text="Prices" route="">
                    <lib-adjust-logo colorTheme="dashboard"></lib-adjust-logo>
                </app-action>
                <app-action [disabled]="true" text="Catalog">
                    <lib-catalog-logo colorTheme="dashboard"></lib-catalog-logo>
                </app-action>
                <app-action [disabled]="true" text="Store" route="" icon="store"></app-action>
                <app-action [disabled]="true" text="Waste" route="">
                    <lib-waste-logo colorTheme="dashboard"></lib-waste-logo>
                </app-action>
                <app-action [disabled]="true" text="Fix" route="" icon="build"></app-action>
                <app-action [disabled]="true" text="All" route="" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Purchase -->
        <lib-dashboard-box title="PURCHASE" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-purchase-logo logo colorTheme="dashboard-title"></lib-purchase-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Order" route="" icon="add"></app-action>
                <app-action [disabled]="true" text="Drafts" route="" icon="edit_note"></app-action>
                <app-action [disabled]="true" text="Orders" route="">
                    <lib-order-logo colorTheme="dashboard"></lib-order-logo>
                </app-action>
                <app-action [disabled]="true" text="Bills" route="">
                    <lib-receipt-logo colorTheme="dashboard"></lib-receipt-logo>
                </app-action>
                <app-action [disabled]="true" text="Ship" route="" icon="local_shipping"></app-action>
                <app-action [disabled]="true" text="Return" route="">
                    <lib-return-logo colorTheme="dashboard"></lib-return-logo>
                </app-action>
                <app-action [disabled]="true" text="All" route="" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Sales -->
        <lib-dashboard-box title="SALES" colorTheme="dashboard" badge="2" [isExpanded]="allExpanded">
            <lib-sales-logo logo colorTheme="dashboard-title"></lib-sales-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Order" route="" icon="add"></app-action>
                <app-action [disabled]="true" text="Drafts" route="" icon="edit_note"></app-action>
                <app-action [disabled]="true" text="Orders" route="">
                    <lib-order-logo colorTheme="dashboard"></lib-order-logo>
                </app-action>
                <app-action [disabled]="true" text="Bills" route="">
                    <lib-receipt-logo colorTheme="dashboard"></lib-receipt-logo>
                </app-action>
                <app-action [disabled]="true" text="Ship" route="" icon="local_shipping"></app-action>
                <app-action [disabled]="true" text="Return" route="">
                    <lib-return-logo colorTheme="dashboard"></lib-return-logo>
                </app-action>
                <app-action [disabled]="true" text="All" route="" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Packings -->
        <lib-dashboard-box title="PACKING" colorTheme="dashboard" badge="2" [isExpanded]="allExpanded">
            <lib-packing-logo logo colorTheme="dashboard-title"></lib-packing-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Ready" route="">
                    <lib-ready-logo colorTheme="dashboard"></lib-ready-logo>
                </app-action>
                <app-action [disabled]="true" text="Progress" route="">
                    <lib-progress-logo colorTheme="dashboard"></lib-progress-logo>
                </app-action>
                <app-action [disabled]="true" text="Packed" route="" icon="redeem"></app-action>
                <app-action [disabled]="true" text="All" route="" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Shipping -->
        <lib-dashboard-box title="SHIPPING" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-shipping-logo logo colorTheme="dashboard-title"></lib-shipping-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Ready" route="">
                    <lib-ready-logo colorTheme="dashboard"></lib-ready-logo>
                </app-action>
                <app-action [disabled]="true" text="Loading" route="">
                    <lib-loading-logo colorTheme="dashboard"></lib-loading-logo>
                </app-action>
                <app-action [disabled]="true" text="Transit" route="">
                    <lib-on-the-way-logo colorTheme="dashboard"></lib-on-the-way-logo>
                </app-action>
                <app-action [disabled]="true" text="Done" route="" icon="done"></app-action>
                <app-action [disabled]="true" text="Drivers" icon="sports_motorsports"></app-action>
                <app-action [disabled]="true" text="All" route="" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Money -->
        <lib-dashboard-box title="MONEY" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-rupee-logo logo colorTheme="dashboard-title"></lib-rupee-logo>
            <ng-container action>
                <app-action [disabled]="true" text="In" route="" icon="add"></app-action>
                <app-action [disabled]="true" text="Out" route="" icon="remove"></app-action>
                <app-action [disabled]="true" text="Via" route="" icon="swap_calls"></app-action>
                <app-action [disabled]="true" text="All" route="" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- Ledger -->
        <lib-dashboard-box title="LEDGER" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-ledger-logo logo colorTheme="dashboard-title"></lib-ledger-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Search" route="" icon="search"></app-action>
            </ng-container>
        </lib-dashboard-box>

        <!-- TODO -->
        <lib-dashboard-box title="TODO" colorTheme="dashboard" [isExpanded]="allExpanded">
            <lib-todo-logo logo colorTheme="dashboard-title"></lib-todo-logo>
            <ng-container action>
                <app-action [disabled]="true" text="Backlog" route="">
                    <lib-todo-backlog-logo colorTheme="dashboard"></lib-todo-backlog-logo>
                </app-action>
                <app-action [disabled]="true" text="Working" route="">
                    <lib-working-logo colorTheme="dashboard"></lib-working-logo>
                </app-action>
                <app-action [disabled]="true" text="Done" route="" icon="done"></app-action>
                <app-action [disabled]="true" text="All" route="" icon="crop_square"></app-action>
            </ng-container>
        </lib-dashboard-box>

    </ng-container>

    <ng-container pagefooter>
        <div class="footer">
            <div class="spacer"></div>
            @if (allExpanded) {
            <mat-icon (click)="allExpanded = false">toggle_on</mat-icon>
            }
            @else {
            <mat-icon (click)="allExpanded = true">toggle_off</mat-icon>
            }
        </div>
    </ng-container>
</lib-page-layout>

<ng-template #actionTemplateRef let-icon="icon" let-text="text" let-route="route">
    <div [routerLink]="[route]">
        <mat-icon matRipple>{{ icon }}</mat-icon>
        <div> {{ text }} </div>
    </div>
</ng-template>