<lib-page-layout title="SHOP FOLDER">
    <ng-container pagebody>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
        Page Body Projected<br>
    </ng-container>
</lib-page-layout>
