<lib-page-layout title="SHOP FOLDER">
    <ng-container pagebody>

        <!-- Contact -->
        <lib-dashboard-box title="CONTACT" colorTheme="contact-dashboard">
            <lib-contact-logo logo colorTheme="contact-dashboard"></lib-contact-logo>
            <ng-container action>
                <mat-icon matRipple>add</mat-icon>
                <mat-icon matRipple>chevron_right</mat-icon>
            </ng-container>
        </lib-dashboard-box>

        <!-- Inventory -->
        <lib-dashboard-box title="INVENTORY" colorTheme="inventory-dashboard">
            <lib-inventory-logo logo colorTheme="inventory-dashboard"></lib-inventory-logo>
            <ng-container action>
                <mat-icon matRipple>chevron_right</mat-icon>
            </ng-container>
        </lib-dashboard-box>

        <!-- Sales -->
        <lib-dashboard-box title="SALES" colorTheme="sales-dashboard">
            <lib-sales-logo logo colorTheme="sales-dashboard"></lib-sales-logo>
            <ng-container action>
                <mat-icon matRipple>chevron_right</mat-icon>
            </ng-container>
        </lib-dashboard-box>

        <!-- Purchase -->
        <lib-dashboard-box title="PURCHASE" colorTheme="purchase-dashboard">
            <lib-purchase-logo logo colorTheme="purchase-dashboard"></lib-purchase-logo>
            <ng-container action>
                <mat-icon matRipple>chevron_right</mat-icon>
            </ng-container>
        </lib-dashboard-box>

        <!-- Transaction -->
        <lib-dashboard-box title="TRANSACTION" colorTheme="transaction-dashboard">
            <lib-transaction-logo logo colorTheme="transaction-dashboard"></lib-transaction-logo>
            <ng-container action>
                <mat-icon matRipple>chevron_right</mat-icon>
            </ng-container>
        </lib-dashboard-box>

        <!-- Ledger -->
        <lib-dashboard-box title="LEDGER" colorTheme="ledger-dashboard">
            <lib-ledger-logo logo colorTheme="ledger-dashboard"></lib-ledger-logo>
            <ng-container action>
                <mat-icon matRipple>chevron_right</mat-icon>
            </ng-container>
        </lib-dashboard-box>

        <!-- TODO -->
        <lib-dashboard-box title="TODO" colorTheme="todo-dashboard">
            <lib-todo-logo logo colorTheme="todo-dashboard"></lib-todo-logo>
            <ng-container action>
                <mat-icon matRipple>chevron_right</mat-icon>
            </ng-container>
        </lib-dashboard-box>

        <!-- Catalog -->
        <lib-dashboard-box title="CATALOG" colorTheme="catalog-dashboard">
            <lib-catalog-logo logo colorTheme="catalog-dashboard"></lib-catalog-logo>
            <ng-container action>
                <mat-icon matRipple>chevron_right</mat-icon>
            </ng-container>
        </lib-dashboard-box>

    </ng-container>
</lib-page-layout>